<html>
<head>
    <title> 결제채널 엑셀 변환기 </title>
    <link rel="icon" href="https://humanscape.io/images/favicon.png" type="image/icon type">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body style="text-align: center;">
<header>
    <p style="padding:20px;"><img style="width: min(80%, 400px);" src="/static/human_logo1.png" /></p>
</header>
<div class="input-form" style="display: flex; align-items: center; justify-content: center;"> 
    <form action= "/run/" method="post" enctype="multipart/form-data" style="width: min(80%, 400px);">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="start_at" placeholder="20220101" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="start_at"> 수집 시작일(해당일 00:00:00 부터) </span>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" name="end_at" placeholder="20220131" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="end_at"> 수집 종료일(해당일 23:59:59 까지) </span>
        <span style="color:orange"> @@주의@@ 연도는 바뀌지 않게 해주세요. </span>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" name="channel_id" placeholder="D042H38JSP9" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2"> 채널ID </span>
      </div>
  
  <div class="input-group mb-3" >
    <input type="file" class="form-control" id="inputGroupFile02" name="people_file" accept=".xlsx">
    <label class="input-group-text" for="inputGroupFile02"> 인명부.xlsx </label>
  </div>
    
  <div class="input-group" mb-3>
    <input type="file" class="form-control" id="inputGroupFile04" name="card_file" accept=".xlsx">
    <label class="input-group-text" for="inputGroupFile02"> 카드사 내역.xlsx </label>
  </div>
    <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 30px;"> 변환시작 </button>
  </form>
</div>
<!--
<div style="padding-left: 20px;">
    <form action= "/run/" method="post" enctype="multipart/form-data">
        <label for="people_file"> <h3> 인명부 파일 </h3> </label>
        <input type="file" id="people_file" name="people_file" accept=".xlsx">
        <details>
            <summary style="color:red;"> 주의사항 </summary>
            <ul>
                <li>
                    sheet 이름이 "Member List" 인지 확인해주세요.
                </li>
                <li>
                    헤더(이름, 성별, 입사일, ..)는 2번째 열에 포함해주세요.
                </li>
                <li>
                    필수 헤더 : 이름, CIC(대소문자 구분X), CELL(대소문자 구분X), 카드번호, 영어이름
                </li>
                <li>
                    영어이름의 한글발음을 추가하려면 : 헤더(2열)내용에 name(대소문자 구분X)이 포함된 상태로, 같은 행(col)에 추가
                </li>
            </ul>
        </details>

        <br><br><br>
        <label for="card_file"> <h3> 결제내역 파일 </h3> </label>
        <input type="file" id="card_file" name="card_file" accept=".xlsx">
        <details>
            <summary style="color:red;"> 주의사항! </summary>
            <ul>
                <li>
                    sheet 이름이 "신용_국내" 인지 확인해주세요.
                </li>
                <li>
                    sheet 내의 모든 수식(=B1+C1)을 값복사로 없애주세요.
                </li>
                <li>
                    헤더(승인일, 카드번호, 승인금액 ..)는 1번째 열에 포함해주세요.
                </li>
                <li>
                    필수 헤더 : 승인일, 승인시간, 카드번호, 이용자명, 가맹점명, 업종, 승인금액, 승인번호, 과세유형, 가맹점사업자번호
                </li>
            </ul>
        </details>

        <br><br><br>
        <label for="channel_id"> <h3> PAY_EXCEL_BOT의 채널 ID </h3> </label>
        <input type="text" id="channel_id" name="channel_id" size="15">
        <details>
            <summary style="color:red;"> 주의사항 </summary>
            <ul>
                <li>
                    <span style="color:red;"> 사람마다 채널 ID가 다르니 </span>, 직접 보고 입력해주세요.
                </li>
                <li>
                    <details>
                        <summary> 채널ID를 확인하는 방법 </summary>
                        <p><img src="/static/channel_id_1.png" /></p>
                        <p><img src="/static/channel_id_2.png" /></p>
                    </details>
                </li>
            </ul>
        </details>
        <input type="submit" value="시작">
    </form>
</div>
-->
</body>
</html>
